.display
{
 border: solid;
 padding: 50px;
 margin-bottom: 10px;
 background-color: white;
 border-radius: 5px;
    
}


.main
 {

 width: fit-content;
 height: fit-content;
 border: solid;
 padding: 10px;
 background-color: maroon;
 border-radius: 10px;

 }

.buttons {

display: grid;
grid-template-columns: repeat(5,1fr);
min-width: 400px;
min-height: 400px;
gap: 10px;


}

.btn {

border-radius: 5px;
border-style: none;

}

.btn:last-child {

grid-column: span 2;

}